/********* Tag Selectors *********/
h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}

/********* Class Selectors *********/
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 20%;
}

/********* ID Selectors *********/

#heading {
  color: blue;
}
